table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

td,
th {
  border: 1px solid black;
  padding: 1em;
}

.formGroup {
  margin-bottom: .5em;
}

label {
  width: 3em;
  display: inline-block;
}

#addContactForm {
  background-color: lightblue;
  padding: 1em;
  box-sizing: border-box;
  width: 17em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -8.5em;
  display: none;
}

.buttons {
  text-align: center;
}